<div class="menu">
  <div class="size margin menu--content container align-items-center justify-content-between">

    <div class="menu-title-container" data-aos="fade-right" data-aos-delay="" data-aos-offset="0">
      <img class="menu-logo" src="{{site.url}}{{site.baseurl}}/assets/img/favicon.svg" />
      <a class="menu-title" href="{{ site.baseurl }}/">{{ site.title }}</a>
    </div>

    <a href="https://budgetingkid.com/" data-aos="fade-left" data-aos-delay="" data-aos-offset="0">
      <div class="container align-items-baseline back-to-site">
        <div class="">
          <span class="feather-icon icon-external-link"></span>
        </div>
        <div class="back-to-site-text">
          Back to website
        </div>
      </div>
    </a>
    <!-- <nav class="masthead-nav">
      {% for page in site.pages %}
      {% if page.title %}
      <a href="{{ page.url | prepend: site.baseurl }}">
        {{ page.title }}
      </a>
      {% endif %}
      {% endfor %}
    </nav> -->
  </div>
</div>
