// bulma variables
$text: hsl(0, 0%, 0%);
$text-light: hsl(270, 50%, 48%);
$text-strong: hsl(270, 50%, 21%);
$footer-background-color: transparent;
$footer-padding: 3rem 1.5rem 3rem;
$navbar-item-img-max-height: 40px;
$navbar-item-hover-color: hsl(0, 0%, 0%);
$file-cta-color: hsl(270, 50%, 48%);
$family-primary: "Inter", sans-serif;
$navbar-item-img-max-height: 70px;
$card-radius: 12px;
$box-radius: 12px;
$table-head-cell-border-width: 0 0 0;
$table-cell-border-width: 0px 0px 1px;
$table-foot-cell-border-width: 1px 0px 0px;
$modal-content-width: 432px;

// BudgetingKid variables
$bk-color: $text-light;
$bk-background-color: hsl(270, 95%, 98%);
$bk-dark-grey: hsl(0, 0%, 35%);
$bk-grey: hsl(0, 0%, 68%);
