@import "../config/mixins";

.new-account {
  display: flex;

  .column {
    flex: none;
    width: 33.3333%;

    @include fullhd {
      width: 40%;
    }

    @include widescreen {
      width: 50%;
    }

    @include tablet {
      width: 60%;
    }

    @include mobile {
      width: 100%;
    }

    form .columns {
      display: flex;
      justify-content: space-between;
    }

    .buttons {
      justify-content: flex-end
    }
  }
}
