.columns
  .column.is-fullwidth
    .main-banner
      .hero
        .hero-body
          .title Children wallet
          .subtitle
            ul
              li Track pocket money of your kids
              li Allow them buying what they want
              li Save nerves
              li Save your budget and time
          .subtitle.go
            = link_to 'Go!', my_account_path, class: 'button is-success'

