default: &default
  adapter: postgresql
  encoding: unicode
  port: 5432
  pool: <%= ENV.fetch("RAILS_MAX_THREADS") { 5 } %>
  timeout: 5000

development:
  <<: *default
  database: budgetingkid_development

test:
  <<: *default
  database: budgetingkid_test

production:
  <<: *default
  database: budgetingkid_production