<h2>Dear <%= @account_share.name%>, welcome to managing my account!</h2>
<br>
<p>Click the link to approve the share</p>
<%= link_to 'Go and approve the share', accept_account_share_url(token: @account_share.token) %>
<br>
<p>Sincerely, <%= [@account_share.user.name, @account_share.user.email].reject(&:empty?).first %> </p>
