<nav class="navbar wrapper"
      role="navigation"
      aria-label="main navigation">
  <div class="container">
    <div class="navbar-brand">
      <%= link_to root_path, class: "navbar-item" do %>
        <%= image_tag 'logo.svg' %>
        <h2>BUDGETINGkid</h2>
      <% end %>
  </div>
</nav>
