<nav class="navbar wrapper is-navbar-budgeting-kid-color"
      role="navigation"
      aria-label="main navigation">
  <div class="container px-4">
    <div class="navbar-brand">
      <%= link_to root_path, class: "navbar-item" do %>
        <%= image_tag 'logo.svg', size: "44"%>
        <H2 class='budgeting-kid-logo-font px-4'> BUDGETINGkid </H2>
      <% end %>
  </div>
</nav>
