/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

// bulma variables
$text: hsl(270, 50%, 29%);
$text-light: hsl(270, 50%, 48%);
$text-strong: hsl(270, 50%, 21%);

@import "bulma";
@import "font-awesome";

// pocket-money variables
$primary-pocket-money-color: hsl(270, 50%, 40%);

.navbar {
  background-color: white;
}

@media (max-width: 1024px) {
  .normal-columns {
    flex-direction: column;
    display: flex;
  }
}

@media (max-width: 1024px) {
  .reverse-columns {
    flex-direction: column-reverse;
    display: flex;
  }
}

@media (min-width: 1408px) {
  .ml-6-pmoney-fullhd {
    margin-left: 3rem !important;
  }
}

.is-primary {
  background-color: $primary-pocket-money-color !important ;
  color: $primary-pocket-money-color;
}

.text-has-pmoney-color {
  color: $primary-pocket-money-color;
}

.is-light {
  color: $text-light !important ;
}

html,
body {
  height: 100vh;
}
