/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

// bulma variables
$text: hsl(0, 0%, 0%);
$text-light: hsl(270, 50%, 48%);
$text-strong: hsl(270, 50%, 21%);
$footer-background-color: white;
$navbar-item-img-max-height: 40px;
$navbar-item-hover-color: hsl(0, 0%, 0%);
$file-cta-color: hsl(270, 50%, 48%);
$family-primary: "Inter", sans-serif;
$navbar-item-img-max-height: 70px;
$card-radius: 12px;
$box-radius: 12px;
$table-head-cell-border-width: 0 0 0;
$table-cell-border-width: 0px 0px 1px;
$table-foot-cell-border-width: 1px 0px 0px;
$modal-content-width: 432px;

@import "bulma";
@import "font-awesome";
@import url("https://fonts.googleapis.com/css2?family=Frank+Ruhl+Libre&family=Inter&family=Reenie+Beanie&display=swap");

// BudgetingKid variables
$primary-budgeting-kid-color: rgb(102, 51, 153);
$primary-budgeting-kid-strong-color: hsl(270, 50%, 21%);
$primary-budgeting-kid-background-color: hsl(270, 95%, 98%);
$primary-budgeting-kid-black-color: hsl(0, 0%, 0%);
$primary-budgeting-kid-dark-gray-color: hsla(0, 0%, 35%, 1);
$primary-budgeting-kid-light-gray-color: hsla(0, 0%, 68%, 1);

.is-budgeting-kid-color {
  color: $primary-budgeting-kid-color !important;
}

.is-black-budgeting-kid-color {
  color: $primary-budgeting-kid-black-color !important;
}

.budgeting-kid-logo-font {
  font-family: "Reenie Beanie", sans-serif;
  font-size: 40px;
  color: $primary-budgeting-kid-color;
}

.font-frank-ruhl-libre {
  font-family: "Frank Ruhl Libre", sans-serif;
  color: $primary-budgeting-kid-strong-color;
}

.is-budgeting-kid-hoverable:hover {
  border-color: $primary-budgeting-kid-color;
}

.has-background-image {
  background-image: image-url("background_objects.svg");
  background-size: 600px;
}

.image.is-coins {
  max-width: 479px;
  max-height: 417px;
}

.box {
  box-shadow: 0 0.1em 1em -0.125em rgba($scheme-invert, 0.1), 0 0px 0 1px rgba($scheme-invert, 0.02)
}

// navbar transparency ->
.navbar {
  position: sticky;
  top: 0;
  transition: transform 0.5s ease;
  height: 108px;
}

.wrapper {
  width:100%;
  position:fixed;
  z-index:10;
  background:inherit;
}

.bottom-wrapper {
  width:100%;
  padding-top:130px;
  z-index:5;
  overflow:auto;
}

// mobile
@media (max-width: 1024px) {
  .navbar {
    height: auto;
  }
  .bottom-wrapper {
    padding-top: 100px;
  }
}

.container-buttom-border {
  border-bottom: 1px solid  hsl(0, 0%, 90%);
}
// <- navbar transparency

.all-balance-button {
  position: absolute;
  right: 5px;
  top: 5px;
}

.is-navbar-budgeting-kid-color {
  background-color: white !important ;
}

.navbar-footer {
  transition: opacity 0.8s ease;
  border-top: 1px solid hsl(0, 0%, 90%);
  position: fixed;
  bottom: 0;
  width: 100%;
  padding: 10px;
  background-color: hsl(0, 0%, 96%);
  z-index:10;
}

.text-divider {
  position: relative;
  text-align: center;
}

// mobile
@media (max-width: 1024px) {
  .normal-columns {
    flex-direction: column;
    display: flex;
  }
  .for-desktop {
    display: none !important;
  }
  .reverse-columns {
    flex-direction: column-reverse;
    display: flex;
  }
  .has-fixed-width {
    width: 130px;
  }
  .text-divider::before,
  .text-divider::after {
    content: "";
    display: inline-block;
    width: 15%;
    border-top: 1px solid #ccc;
    margin: 0 1em;
    vertical-align: middle;
  }
}

// desktop
@media (min-width: 1024px) {
  .for-mobile {
    display: none !important;
  }
  .has-fixed-width {
    width: 200px;
  }
  .text-divider::before,
  .text-divider::after {
    content: "";
    display: inline-block;
    width: 27%;
    border-top: 1px solid #ccc;
    margin: 0 1em;
    vertical-align: middle;
  }
}

@media (min-width: 1408px) {
  .ml-6-budgeting-kid-fullhd {
    margin-left: 3rem !important;
  }
}

.is-primary {
  background-color: $primary-budgeting-kid-color !important ;
  color: $primary-budgeting-kid-color;
}

.has-text-budgeting-kid-color {
  color: $primary-budgeting-kid-color !important;
}

.has-text-light-gray-budgeting-kid-color {
  color: $primary-budgeting-kid-light-gray-color !important;
}

.has-text-dark-gray-budgeting-kid-color {
  color: $primary-budgeting-kid-dark-gray-color !important;
}

.is-light {
  color: $primary-budgeting-kid-color !important;
}

.button.is-white-budgeting-kid-color {
  color: $primary-budgeting-kid-color !important;
  border: none;
}

.is-bordered {
  border: 2px solid $primary-budgeting-kid-color !important ;
}

.is-footer-light {
  @extend .is-light;
  color: $text !important ;
}

// mobile
@media (min-width: 1024px) {
  a.is-plus-color {
    width: 175px;
    height: 48px;
  }
  a.is-minus-color {
    width: 175px;
    height: 48px;
  }
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
    appearance: textfield;
}

button.is-plus-color {
  border-radius: 6px;
  color: hsla(145, 73%, 38%, 1);
  border: 2px solid hsla(145, 73%, 38%, 1);
}
button.is-minus-color {
  border-radius: 6px;
  border: 2px solid hsl(8, 82%, 41%);
  color: hsl(8, 82%, 41%);
}

button.is-plus-color:hover {
  color: hsla(145, 73%, 38%, 1);
  border: 2px solid hsla(145, 73%, 38%, 1);
  background-color: $primary-budgeting-kid-background-color !important ;
}

button.is-minus-color:hover {
  color: hsl(8, 82%, 41%);
  border: 2px solid hsl(8, 82%, 41%);
  background-color: $primary-budgeting-kid-background-color !important ;
}

button.is-gray {
  color: $primary-budgeting-kid-light-gray-color;
  border: none;
}

button.is-gray:hover {
  color: $primary-budgeting-kid-color;
  border: none;
}

.file.is-light {
  color: $text-light !important ;

  .file-label {
    color: $text-light !important ;
  }

  .file-icon {
    color: $text-light !important ;
  }
}

.with-background {
  background-image: image-url("background_objects.svg");
  background-size: 600px;
  background-attachment: fixed;
}

.card-content-overflow {
  overflow: visible;
  .table-container {
    overflow: visible;
  }
}

.top-right-button {
  position: absolute;
  top: 10px;
  right: 10px;
}

.top-right-shared-account-button {
  position: absolute;
  top: 60px;
  right: 10px;
}

.has-limit-width {
  max-width: 200px;
}

// wizard solutions ->

.wizard-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.wizard-step-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.wizard-passed-step-circle {
  position: relative;
  width: 52px;
  height: 52px;
  border-radius: 50%;
  border: 2px solid $primary-budgeting-kid-color;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $primary-budgeting-kid-color;
  margin: 10px 40px;
}

.wizard-passed-step-circle::before {
  content: "";
  position: absolute;
  left: -82px;
  width: 80px;
  height: 1px;
  vertical-align: middle;
}

.wizard-passed-step-circle.solid::before {
  border-bottom: 2px solid $primary-budgeting-kid-color;
}

.wizard-current-step-circle {
  position: relative;
  width: 52px;
  height: 52px;
  border-radius: 50%;
  border: 2px solid $primary-budgeting-kid-color;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px 40px;
}

.wizard-current-step-circle::before {
  content: "";
  position: absolute;
  left: -82px;
  width: 80px;
  height: 1px;
  vertical-align: middle;
}

.wizard-current-step-circle.solid::before {
  border-bottom: 2px solid $primary-budgeting-kid-color;
}

.wizard-future-step-circle {
  position: relative;
  width: 52px;
  height: 52px;
  border-radius: 50%;
  border: 2px solid $primary-budgeting-kid-black-color;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px 40px;
}

.wizard-future-step-circle::before {
  content: "";
  position: absolute;
  left: -82px;
  width: 80px;
  height: 1px;
  vertical-align: middle;
  border-bottom: 2px dashed $primary-budgeting-kid-black-color;
}

.is-solid-budgeting-kid-color {
  background-color: $primary-budgeting-kid-color;
}

.is-budgeting-kid-light-color {
  filter: invert(75%) sepia(25%) saturate(4361%) hue-rotate(249deg) brightness(90%) contrast(93%);
}

.is-budgeting-kid-black-color {
  filter: invert(100%) sepia(100%) hue-rotate(180deg);
}

.has-limit-height {
  min-height: 600px;
}

@media (max-width: 1024px) {
  .wizard-passed-step-circle {
    margin: 10px 20px;
  }
  .wizard-passed-step-circle::before {
    left: -41px;
    width: 40px;
  }
  .wizard-current-step-circle {
    margin: 10px 20px;
  }
  .wizard-current-step-circle::before {
    left: -41px;
    width: 40px;
  }
  .wizard-future-step-circle {
    margin: 10px 20px;
  }
  .wizard-future-step-circle::before {
    left: -41px;
    width: 40px;
  }
}
// <- wizard solutions

.rounded-avatar {
  object-fit: cover;
  object-position: top center;
  width: 93px;
  height: 93px;
  border-radius: 50%;
  box-shadow: 0px 0px 0px 3px $primary-budgeting-kid-color;
}

.rounded-avatar.small {
  width: 69px;
  height: 69px;
}

.progress.is-blue::-webkit-progress-value {
  background-color: hsla(243, 88%, 59%, 1) !important;
}

.progress.is-orange::-webkit-progress-value {
  background-color: hsla(29, 88%, 59%, 1) !important;
}

.is-loupe-color {
  filter: invert(15%);
}

.modal-card-body {
  border-radius: 12px;
}

.radio_color {
  accent-color: $primary-budgeting-kid-color;
}

.navbar-dropdown.for-desktop {
  top: calc(100% + (11px)) !important;
  border: 1px solid #ddd !important;
  box-shadow: none !important;
}

.navbar-dropdown.for-desktop::before {
  content: '';
  position: absolute;
  top: -20px;
  right: 25px;
  border: 10px solid transparent;
  border-bottom-color: #ddd;
}

.navbar-dropdown.for-desktop::after {
  content: '';
  position: absolute;
  top: -19px;
  right: 25px;
  border: 10px solid transparent;
  border-bottom-color: #fff;
}

.image.is-18x18 {
  width: 18px;
  height: 18px;
}

.image.is-20x20 {
  width: 20px;
  height: 20px;
}

.hidden {
  display: none !important;
}

.image.is-44x44 {
  height: 44px;
  width: 44px;
}