/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 @import "bulma";
 @import "font-awesome";


 .navbar {
  background-color: white;
 }

 @media (max-width: 1024px) {
    .reverse-columns {
      flex-direction: column-reverse;
      display: flex;
    }
 }

@media (min-width: 1408px) {
  .ml-6-pmoney-fullhd  {
    margin-left: 3rem !important;
  }
}

.is-pmoney-primary {
  background-color: rgb(102, 51, 153);
  color: white;
}

.is-pmoney-primary:hover {
  color: white;
}

.has-text-pmoney-color {
  color: rgb(102, 51, 153) !important;
}
