<!DOCTYPE html>
<html lang='en'>
  <head>
    <%= render 'layouts/head'%>
  </head>

  <body class='with-background'>
    <%= render 'layouts/header/main' %>
    <div class="container hero is-fullheight bottom-wrapper " >
      <section class="section is-fullheight py-0">
        <%= yield %>
      </section>
      <%= render 'layouts/footer/footer'%>
    </div>
  </body>
</html>
