<h1><%= account %></h1>

<% stats = Account.new(account) %>

Balance: <%= stats.balance %>

<div>Incomes:</div>
<% stats.income_transactions.each do |transaction| %>
  <div><%= transaction.to_s %></div>
<% end %>

<div>Outcomes:</div>

<% stats.outcome_transactions.each do |transaction| %>
  <div><%= transaction.to_s %></div>
<% end %>
